@font-face {
  font-family: "NinjaNaruto";
  src: url("./fonts/njnaruto.ttf") format("truetype");
}

h1 {
  font-family: "NinjaNaruto";
  /* font-size: 3rem; */
}

h2 {
  font-family: "NinjaNaruto";
  /* font-size: 2rem; */
}

nav a:hover {
  font-family: "NinjaNaruto";
}

footer a:hover {
  font-family: "NinjaNaruto";
}

header {
  color: #E6E9E6;
  background: linear-gradient(to bottom, #1D3022, #0B0F0C);
}

body {
  background-color: #0B0F0C;
  color: #E6E9E6;
}

footer {
  color: #83898A;
  background-color: #0B0F0C;
}
div {
  /* font-family: "NinjaNaruto"; */
}

p {
  /* font-family: "NinjaNaruto"; */
}

span {
  /* font-family: "NinjaNaruto"; */
}

ul {
  /* font-family: "NinjaNaruto"; */
}