@font-face {
  font-family: "NinjaNaruto";
  src: url("./fonts/njnaruto.ttf") format("truetype");
}

h1 {
  font-family: "NinjaNaruto";
  /* font-size: 3rem; */
}

h2 {
  font-family: "NinjaNaruto";
  /* font-size: 2rem; */
}

nav a:hover {
  font-family: "NinjaNaruto";
}

div {
  /* font-family: "NinjaNaruto"; */
}

p {
  /* font-family: "NinjaNaruto"; */
}

span {
  /* font-family: "NinjaNaruto"; */
}

ul {
  /* font-family: "NinjaNaruto"; */
}