@font-face {
  font-family: "NinjaNaruto";
  src: url("./fonts/njnaruto.ttf") format("truetype");
}

h1 {
  font-family: "NinjaNaruto";
  font-size: 3rem;
}

h2 {
  font-family: "NinjaNaruto";
  font-size: 2rem;
}