@font-face {
  font-family: "NinjaNaruto";
  src: url("./fonts/njnaruto.ttf") format("truetype");
}

h1 {
  font-family: "NinjaNaruto";
  /* font-size: 3rem; */
}

h2 {
  font-family: "NinjaNaruto";
  /* font-size: 2rem; */
}

nav a:hover {
  font-family: "NinjaNaruto";
}

footer a:hover {
  font-family: "NinjaNaruto";
}

header {
  color: #E6E9E6;
  background: linear-gradient(to bottom, #78A06E, #0B0F0C);
}

body {
  background-color: #0B0F0C;
  color: #E6E9E6;
}

footer {
  color: #83898A;
  background-color: #0B0F0C;
}

.ninja-naruto {
  font-family: "NinjaNaruto";
}

button.ninja-button {
  background-color: #8FB59A;
}

.ninja-button:hover {
  background-color: #A3D9A5;
  font-family: "NinjaNaruto";
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

#footer-chuck-norris {
  animation: pulse 2s linear infinite;
}